.main{
  width: 40%;
  height: 5%;
  margin-top: 5%;
  margin-left: 30%;
  text-align: center;
  font-size: 25px;
  border: 1px solid gray;
  background-color: rgb(238, 233, 233);
  color: blue;
}

.header{
  font-size: 25px;
  font-weight: 900;
  color: brown;
}

.btn{
  width: 100px;
  height: 50px;
  font-size: 25px;
  font-weight: 900;
}